body {
    height: 100%;
    background: linear-gradient(90deg, #0B888A, #FCF5AE);
    margin:0;
    padding:0;
}

#cardDatos {

    background-color: #e3f2fd !important;
}



h1 {
    margin-left: 5%;
}

#registroIndex {
    margin-top: 3%;
}